#ignore node modules
Backend/node_modules/
Frontend/node_modules/

#ignore env files
Backend/.env
Frontend/.env

walk
order_and_admin_walkthrough.md
walkthrough_interview_guide.md
walkthrough_interview_guide2